<html>
<body>
 

  <nav class="navbar navbar-expand-md fixed-top">
   <a class="navbar-brand" >
    <img src="assets/home/Untitjjled 1.png" class="d-inline-block align-top" alt="">
   
  <span style="font-family: 'Secular One', sans-serif;"> VETIGO </span></a>
   
   
   
  
  </nav>

  <!-- Body -->
  <div class="container mt-5 pt-5 ">
    <div class="row p-lg-5  pt-5">
      <!-- Image half -->
      <div class="col-md-6  d-flex justify-content-center align-items-center pt-5 ">
        <a ><img src="assets/category/Group 34.png" class="img-fluid " alt="Image" id="img"></a>
      </div>
      <!-- Signup half -->
      <div class="col-md-6">
        <div class="container-fluid">
          <h2 class="mt-3">Signup</h2>
          <form>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Your Name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Your Email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="mb-3">
              <label for="pet" class="form-label">My pet is looking For</label>
              <input type="text" class="form-control" id="pet" placeholder="Search for...">
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 </body></html>